![](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTK4gQ9nhwHHaSXMHpeggWg7twwMCgb877smkRmtkmDeDoGF9Z6&usqp=CAU)

# <font color='Brown'>Sacadas de Cientista de Dados</font>

![](https://i.gifer.com/BVfZ.gif)

# DicionÃ¡rio de Dados
It is mixed data, that is, both numerical and categorical data are present. The dataset consists of 1000 students record with a total of eight features, viz.,
1.	gender : categorical
2.	race/ethnicity : categorical
3.	parental level of education : categorical
4.	lunch : categorical
5.	test preparation course : categorical
6.	math score : numerical
7.	reading score : numerical; and
8.	writing score : numerical

The dataset is taken from 'Students Performance in Exams - Marks secured by the students in various subjects' by Jakki Seshapanpu
Ref. - https://www.kaggle.com/spscientist/students-performance-in-exams

In [1]:
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.4-py3-none-any.whl (15.1 MB)
     ---------------------------------------- 15.1/15.1 MB 4.3 MB/s eta 0:00:00
Requirement already satisfied: jinja2>=2.11.1 in c:\programdata\anaconda3\lib\site-packages (from sweetviz) (2.11.3)
Requirement already satisfied: matplotlib>=3.1.3 in c:\programdata\anaconda3\lib\site-packages (from sweetviz) (3.5.2)
Requirement already satisfied: tqdm>=4.43.0 in c:\programdata\anaconda3\lib\site-packages (from sweetviz) (4.64.1)
Requirement already satisfied: numpy>=1.16.0 in c:\programdata\anaconda3\lib\site-packages (from sweetviz) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\alan_\appdata\roaming\python\python39\site-packages (from sweetviz) (1.8.0)
Requirement already satisfied: importlib-resources>=1.2.0 in c:\users\alan_\appdata\roaming\python\python39\site-packages (from sweetviz) (5.10.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\programdata\anaconda3\lib\site-packages (from sweetviz) (1.4.4)
Requirement already satisfied: zipp>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (4.25.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.2)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (9.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2022.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Installing collected packages: sweetviz
Successfully installed sweetviz-2.1.4

In [20]:
import sweetviz as sv
import pandas as pd

In [21]:
#loading the data
data  =   pd.read_csv('D:/Github/python/projetos-bibliotecas-estudos/sweetviz/StudentsPerformance.csv')

#Printing data insights
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [22]:
#Printing few data samples
data.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [25]:
# Analyzing data
report=sv.analyze(data)

# Generating report
report.show_html('eda_report.html')

                                             |                                             | [  0%]   00:00 ->â¦

Report eda_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [26]:
# split the data into two datasets
data1=data[0:400]
data2=data[400:]

In [27]:
print(data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       400 non-null    object
 1   race/ethnicity               400 non-null    object
 2   parental level of education  400 non-null    object
 3   lunch                        400 non-null    object
 4   test preparation course      400 non-null    object
 5   math score                   400 non-null    int64
 6   reading score                400 non-null    int64
 7   writing score                400 non-null    int64
dtypes: int64(3), object(5)
memory usage: 25.1+ KB
None

In [28]:
print(data2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 400 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       600 non-null    object
 1   race/ethnicity               600 non-null    object
 2   parental level of education  600 non-null    object
 3   lunch                        600 non-null    object
 4   test preparation course      600 non-null    object
 5   math score                   600 non-null    int64
 6   reading score                600 non-null    int64
 7   writing score                600 non-null    int64
dtypes: int64(3), object(5)
memory usage: 37.6+ KB
None

In [29]:
report_comp=sv.compare(data1,data2)
report_comp.show_html()

                                             |                                             | [  0%]   00:00 ->â¦

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [30]:
# Comparing the two datasets
report_comp=sv.compare([data1,'Base Original'],[data2,'Base em ValidaÃ§Ã£o'])

# Generating report
report_comp.show_html('Compare_Results.html')

                                             |                                             | [  0%]   00:00 ->â¦

Report Compare_Results.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [31]:
# Target Analysis
report_comp=sv.compare(data1,data2,'math score')
report_comp.show_html('Compare_Results.html')

                                             |                                             | [  0%]   00:00 ->â¦

Report Compare_Results.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

# Playing with Reports

In [32]:
report_comp.show_html(filepath='report.html',
open_browser=True,
layout='vertical',
scale=0.9)

Report report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.